@import "utilities";
@import "variables";

/*
Colors:
    Black: #403F48
    Purple: #5C3E84
    Red: #F35C6E
    Orange: #FFA87B
    Primary-dark: #596C68
    Primary-light: #95A792
    White: #E3D9CA
 */

 /*
  * Globals
  */

 /* Links */
 a,
 a:focus,
 a:hover {
   color: #fff;
 }

 /* Custom default button */
 .btn-secondary,
 .btn-secondary:hover,
 .btn-secondary:focus {
   color: #333;
   text-shadow: none; /* Prevent inheritance from `body` */
   background-color: #fff;
   border: .05rem solid #fff;
 }


 /*
  * Base structure
  */

 html,
 body {
   height: 100%;
   background-color: #333;
 }
 body {
   color: #fff;
   text-align: left;
   text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
 }

 /* Extra markup and styles for table-esque vertical and horizontal centering */
 .site-wrapper {
   display: table;
   width: 100%;
   height: 100%; /* For at least Firefox */
   min-height: 100%;
   -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
           box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
 }
 .site-wrapper-inner {
   display: table-cell;
   vertical-align: top;
 }
 .cover-container {
   margin-right: auto;
   margin-left: auto;
 }

 /* Padding for spacing */
 .inner {
   padding: 2rem;
 }


 /*
  * Header
  */

 .masthead {
   margin-bottom: 2rem;
 }

 .masthead-brand {
   margin-bottom: 0;
 }

 .nav-masthead .nav-link {
   padding: .25rem 0;
   font-weight: bold;
   color: rgba(255,255,255,.5);
   background-color: transparent;
   border-bottom: .25rem solid transparent;
 }

 .nav-masthead .nav-link:hover,
 .nav-masthead .nav-link:focus {
   border-bottom-color: rgba(255,255,255,.25);
 }

 .nav-masthead .nav-link + .nav-link {
   margin-left: 1rem;
 }

 .nav-masthead .active {
   color: #fff;
   border-bottom-color: #fff;
 }

 @media (min-width: 48em) {
   .masthead-brand {
     float: left;
   }
   .nav-masthead {
     float: right;
   }
 }


 /*
  * Cover
  */

 .cover {
   padding: 0 1.5rem;
 }
 .cover .btn-lg {
   padding: .75rem 1.25rem;
   font-weight: bold;
 }


 /*
  * Footer
  */

 .mastfoot {
   color: rgba(255,255,255,.5);
 }


 /*
  * Affix and center
  */

 @media (min-width: 40em) {
   /* Pull out the header and footer */
   .masthead {
     position: fixed;
     top: 0;
   }
   .mastfoot {
     position: fixed;
     bottom: 0;
   }
   /* Start the vertical centering */
   .site-wrapper-inner {
     vertical-align: middle;
   }
   /* Handle the widths */
   .masthead,
   .mastfoot,
   .cover-container {
     width: 100%; /* Must be percentage or pixels for horizontal alignment */
   }
 }

 @media (min-width: 62em) {
   .masthead,
   .mastfoot,
   .cover-container {
     width: 42rem;
   }
 }


 html, body {
     background-color: #403F48;
 }

 body {
     width: 100%;
     height: 100%;
     font-family: 'Roboto Condensed', sans-serif;
 }

h1, h2, h3 {
    margin: 0 0 35px 0;
    font-family: 'Patua One', cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.6em;
}

a {
    color: #95A792;
}

a:hover, a:focus {
    text-decoration: none;
    color: #F35C6E;
    transition: color 0.5s;
}

#contact {
    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;
}

textarea.form-control {
    height: 100px;
    text-shadow: none;
}

.language-icon {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: #e3e3e3;
    padding: 30px;
    margin: 20px;
    border-radius: 25%;
}

.dark {
    background-color: #367591;
}

#submit-button {
    width: 100%;
    background-color: #596C68;
    color: #E3D9CA;
    border: 0px;
    font-family: 'Patua One', cursive;
}

#submit-button:hover {
    background-color: #F35C6E;
    transition: background-color 0.5s;
}

#start-button {
    background-color: #F35C6E;
    color: #E3D9CA;
    border: 0px;
    font-family: 'Patua One', cursive;
}

#start-button:hover {
    background-color: #E3D9CA;
    color: #596C68;
    transition: background-color 0.5s;
}


/* The Modal (background) */

.modal {
    color: #403F48;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4; // Dont change
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #e3e3e3;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 22%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.c-input {
    color: #555;
    text-shadow: none;
}

.submit {
    font-family: 'Patua One', cursive;
    width: 100%;
    background: none;
    color: #403F48;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    border: solid #403F48 2px;
    border-radius: 20px;
}

.submit:hover {
    background: #F35C6E;
    color: #FFF;
    border-color: #F35C6E;
}

/*------------------------------------------------------------------
[Master Stylesheet]

Project    	: Aether
Version		: 1.0
Last change	: 2015/03/27
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. General Structure
2. Anchor Link
3. Text Outside the Box
4. Main Form
5. Login Button
6. Form Invalid
7. Form - Main Message
8. Custom Checkbox & Radio
9. Misc
-------------------------------------------------------------------*/

/*=== 2. Anchor Link ===*/
a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}

.radio-stacked {
  color: white;
}

.form-group {
  .c-input {
    color: white;
  }
}

.jumbrotron-fluid {
  background: none;
}

.display-code {
  background-color: #555;
  border-radius: 10px;
  padding: 10px;
}

